/* BASE */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  /* This defines 1rem (default 10px) */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  line-height: 1.25;
  color: black;
  padding: 0rem;
}

p {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: black;
}

/* HEADINGS */
.header {
  height: 95vh;
}

/* HEADING-PRIMARY */
.heading-primary {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary--main {
  display: block;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 1.5rem;
  margin-bottom: 6rem;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.heading-primary--sub1, .heading-primary--sub2 {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1rem;
  margin-bottom: 1rem;
}

.heading-primary--sub1 {
  animation: moveInRight 1s ease-out;
}

.heading-primary--sub2 {
  animation: moveInRight 1.2s ease-out;
}

/* HEADING-SECONDARY */
.heading-secondary {
  text-transform: uppercase;
  margin: 1rem 0 2rem 0;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: .3rem;
  text-align:center;
}

/* HEADING-TERTIARY */

.heading-primary {
  font-size: 1.4rem;
}

/* SECTION */
section {
  min-height: 95vh;
  margin: 5rem 3rem 3rem 3rem;
}

/* BUTTON */
.button {
  border: .2rem solid black;
  margin: 1rem 2rem 1rem 2rem;
  padding: 1rem;
  box-shadow: 1rem 1rem 2rem grey;
  display: block;
  border-radius: .3rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  transition: .5s;
}

.button:hover, .button:active {
  border: .2rem solid lightblue;
  background-color: #cff7ff;
  transform: scale(1.05);
}

.button:active {
  box-shadow: .2rem .2rem .5rem grey;
  transform: translate(.2rem, .2rem);
}

/* PARALLAX */
.parallax {
  "min-height": "80vh";
  "min-width": "100vw";
  "background-attachment": "fixed";
  "background-position": "center";
  "background-repeat": "no-repeat";
  "background-size": "cover";
}

/* PROJECT */
.project {
  height: 10rem;
}

.project-image {
   height: 8rem;
   width: 8rem;
   margin-right: 2rem;
   border: 1px solid grey;
   float: left;
   border-radius: 1rem;
}

/* RESUME */
.resume--iframe {
  width: 95vw;
  height: 1100px;
}

/* CONTACT */
.contact {
  font-size: 2rem;
}

.contact-item {
  margin: 1rem;
  font-weight: 200;
}

/* FOOTER */
.footer {
   font-size: 0.5em;
   text-align: center;
   margin: 2em;
}
.footer a {
  display: block;
}
