@font-face {
  font-family: BerkshireSwash;
  src: url("fonts/Berkshire Swash regular.ttf");
}
@font-face {
  font-family: MagicMedieval;
  src: url("/style/fonts/WizardsMagic.ttf");
  /*src: url("/style/fonts/MagicMedieval.ttf");*/
}
body {
  padding: 0;
  margin: 0;
  /* background-color: #131416;*/
  background-color: white;
  /* font */
  color: black;
  letter-spacing: 0.1rem;
  line-height: 1.7rem;
  font-family: sans-serif;
  font-weight: 200;
  /* Snowflakes */
  background-image: radial-gradient(#acb2cd 1px, transparent 2px), radial-gradient(#acb2cd 1px, transparent 2px), radial-gradient(#acb2cd 1px, transparent 2px), radial-gradient(#acb2cd 2px, transparent 3px), radial-gradient(#acb2cd 1px, transparent 3px), radial-gradient(#acb2cd 1px, transparent 3px), radial-gradient(#acb2cd 1px, transparent 3px);
  background-size: 700px 660px;
  background-position: 1px 1px, 100px 155px, 10px 235px, 210px 320px, 10px 420px, 510px 520px, 110px 620px;
}

h1 {
  font-family: BerkshireSwash;
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: 0.2rem;
  margin-bottom: 2.1rem;
  margin-top: 0;
}

.resumeButton {
  cursor: pointer;
  height: 100%;
  color: white;
  background-color: #7390ce;
  box-shadow: 1px 1px 1px black;
  font-size: 1.5rem;
}

.header {
  padding-top: 5rem;
}

.button {
  cursor: pointer;
}

.page {
  padding: 0rem 0 0rem 0rem;
  margin-left: 0rem;
  /*background-color: $midtone-color; */
  width: 100%;
  padding-left: 5rem;
}

.arrows {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.arrows .leftArrow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 10rem;
  background-color: transparent;
  border: none;
  box-shadow: none;
  user-select: none;
  outline: none;
  color: white;
  font-size: 2rem;
}
.arrows .rightArrow {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 10rem;
  background-color: transparent;
  border: none;
  box-shadow: none;
  user-select: none;
  outline: none;
  color: white;
  font-size: 2rem;
}

.text {
  padding-left: 5rem;
}

.subtitle {
  font-family: sans-serif;
  font-weight: 100;
  letter-spacing: 7px;
  color: white;
  line-height: 2.5rem;
}

.details {
  font-size: 0.8rem;
  font-style: italic;
}

ul {
  margin: 0;
}

h2 {
  /*color: white;*/
  font-size: 2em;
  font-family: sans-serif;
  font-weight: 200;
  letter-spacing: 7px;
}

h3 {
  margin-bottom: 0.1rem;
}

h4 {
  font-size: 2.1em;
  margin-top: 0.1em;
}

p {
  max-width: 40rem;
}

.bold {
  font-weight: bold;
}

.project-list {
  overflow-x: hidden;
  overflow: auto;
  height: 13rem;
  white-space: nowrap;
}

.project-tail {
  position: absolute;
  top: 0;
  right: 0;
  width: 7rem;
  height: 20rem;
  background: linear-gradient(-72deg, white 50%, transparent 50%);
}

.project {
  /* display */
  display: inline-block;
  /* size */
  width: 18rem;
  height: 10rem;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  /* border */
  box-shadow: 7px 7px 2px black;
  /* text */
  text-align: left;
  /* background */
  /*
  background-image: url(/imgs/biotexture.jpeg);
  background-size: cover;
  */
  background: #405268;
  cursor: pointer;
}

.project-background {
  background: url(/imgs/biotexture.jpeg) 10px 10px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.project-content {
  position: absolute;
  top: 0px;
  left: 0px;
}

.project-button {
  text-decoration: none;
  color: white;
}

.project-image {
  height: 4rem;
  width: 4rem;
  margin-right: 2rem;
  border: 1px solid grey;
  float: left;
  border-radius: 6rem;
}

.game-frame {
  padding: 0 10rem 10rem 0;
}

/* COMMON */
.row {
  /*width: 100%;*/
  max-width: 100%;
  box-sizing: border-box;
}

.row:not(:last-child) {
  margin-bottom: 6rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^=col-] {
  float: left;
}

.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}

.row .col-3-of-3 {
  width: 100%;
  transition: 2s;
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.row .col-1-of-5 {
  width: calc((100% - 4 * 6rem) / 5);
}

.row .col-2-of-5 {
  width: calc(2 * ((100% - 4 * 6rem) / 5) + 6rem);
}

.row .col-3-of-5 {
  width: calc(3 * ((100% - 4 * 6rem) / 5) + 2 * 6rem);
}

.row .col-4-of-5 {
  width: calc(4 * ((100% - 4 * 6rem) / 5) + 3 * 6rem);
}

/*# sourceMappingURL=bio.css.map */
